@font-face{
    font-family: 'Poppins';
    src: url('../font/Poppins-Regular.ttf');
}
@font-face{
    font-family: 'Poppins Bold';
    src: url('../font/Poppins-Bold.ttf');
}

body{
    background-image: url(../img/bg.svg);
    background-size: 100% auto;
    background-attachment: fixed;
    color: white;
    font-family: poppins;
    display: grid;
    grid-template-columns: 15% auto 15%;
}

.navbar{
    grid-column: 1/4;
    margin: 50px auto;
    margin-bottom: 80px;
    text-align: center;
}
.navbar .nav{
    position: fixed;
    margin-left: -220px;
}
.navbar a{
    border: 0 solid;
    background-color: rgba(9, 132, 227, 0.3);
    color: white;
    font-family: poppins bold;
    font-size: 20px;
    margin: 0 20px;
    cursor: pointer;
    border-radius: 10px;
    padding: 5px 20px;
    text-decoration: none;
}

.logo{
    grid-column: 1/2;
    text-align: center;
}
.logo img{
    margin-left: -30px;
    position: fixed;
}

.setting{
    grid-column: 2/3;
    text-align: center;
}
.setting .profil h1{
    font-family: poppins bold;
}
.setting .profil h3{
    margin-top: -20px;
}
.setting .list{
    margin-top: 50px;
}
.setting .list div{
    text-align: left;
    height: 100px;
    border-radius: 40px;
    background-color: white;
    margin: 0 0 20px 0;
    filter: drop-shadow(5px 5px 10px rgba(9, 132, 227, 0.4));
}
.list div a{
    text-decoration: none;
    margin: auto;
    display: inline-block;
    padding: 38px;
    color: #0984E3;
}
.list .logout a{
    color: #FF7979;
}